
#khungbig{
	margin: 0 auto;
	width: 900px;
	height: 2118px;
	border-bottom: 1px solid #111111;
	border-left: 1px solid #111111;
	border-right: 1px solid #111111;
	border-top: 1px solid #111111;
}
.box1{
	width: 100%;
	height: 60px;
	background-color: #FFFFFF;
}
.box12{
	float: left;
	width: 30%;
	height: 100%;
	
}
.box12 h2{text-align: center; }
.box13{
	float: left;
	width: 70%;
	height: 100%;
	
}
.box13 ul{list-style: none;}
.box13 ul li{
	position: relative;;
	text-decoration: none;
	float: left;
	
}
.box13 ul li a{
	color: #111111;
	margin-left: 30px;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 75px;
	height: 30px;
	line-height: 30px;
	font-size: 17px;
}
.box13 ul li a:hover{
	background-color: #6666CC;
	color: #fff;
}
.box13 ul li ul {
	position: absolute;
	display: none;
}
.box13 ul li:hover ul {
	display: block;
	z-index: 400;
	margin-left: -40px;
}
.box13 ul li ul li a{
	background-color: #6666CC;
}

/*----------------------------------------*/
 .box2{
	position: relative;
	width: 100%;
	height: 300px;
	background-color: #f00;
}
.box2 .hinhanh{
	width: 100%;
	height: 100%;
}
.box2 h1{
	position: absolute;;
	z-index: 100;
	margin-left: 210px;
	margin-top: -270px;
	color: #333333;
}
.box2 h3{
	position: absolute;
	z-index: 100;
	margin-left: 350px;
	margin-top: -220px;
	color: #333333;
}
.box2 .button{
	position: absolute;
	z-index: 100;
	text-align: center;
	text-decoration: none;
	display: block;
	background-color: #CCCCFF;
	width: 200px;
	height: 30px;
	line-height: 30px;
	border-radius: 10px;
	font-size: 15px;
	margin-left: 350px;
	margin-top: -120px;
	color: #111111;
}
.box2 .button:hover{
	color: #FFFFFF;
	background-color:#4169E1;
}  
/*-----------------------------------------*/
.box3{
	width: 100%;
	height: 250px;
	background-color: #FFFFFF;
}
.box3 .box31{
	float: left;
	margin-left: 20px;
	width: 30%;
	height: 100%;
  	
}
.box3 .box31 .image{
	width: 100%;
	height: 40%;
  /*	background-color: #CC0000; */

}
.box3 .box31 .image .image1{
	width: 100%;
	height: 100%;
}
.box3 .box31 .khungchu{
	width: 100%;
	height: 15%;
	margin-top: -22px;
	text-align: center;
}
.box3 .box31 .chu{
	width: 100%;
	height: 46%;
	margin-top: -15px;
	text-align: center;
}
/*--------------------------*/
.box4{
	width: 100%;
	height: 140px;
	margin-top:-20px;
}
.box4 h2{
	text-align: center;	
}
.box4 p{
	text-align: center;
	padding:10px 30px 30px 40px;
}
.box5{
	width: 100%;
	height: 250px;
}
.box5 .box51{
	width: 50%;
	height: 100%;
	margin-left: 230px;
}
.box5 .box51 .imagebox5{
	width: 100%;
	height: 100%;
}
/*-----------------------------------------*/
.box6{
	text-align: center;
	margin-top:-21px;
	width: 100%;
	height: 100px;
}
.box6 h1{
	padding-top:30px; 
} 
/*-----------------------------------------*/
.box7{
	width: 100%;
	height: 250px;
}
.box7 .box71{
	float: left;
	margin-left: 30px;
	width: 21%;
	height: 100%;
	background-color: #EEEEEE;
	
}
.box7 .box71 .phan1{
	margin-top: -20px;
	width: 100%;
	height: 80%;
}
.box7 .box71 .phan2{
	width: 100%;
	height: 20%;
}
.box7 .box71 .phan1 h2{
	padding-top: 100px;
	text-align: center;

}
.box7 .box71 .phan1 p{
	text-align: center;
	margin-top: -25px;
	
}
.box7 .box71 .phan12{
	margin-top:-19px; 
	width: 100%;
	height: 20%;
	background-color: #333333;
}
.box7 .box71 .phan12 h3{
	padding-top: 20px; 
	text-align: center;
	color: #FFFFFF;
}
/*-----------------------------------------*/
.box8{
	margin-top:60px; 
	width: 100%;
	height: 300px;
	background-color: #DDDDDD;
}
.box8 h1{
	padding-top:70px; 
	text-align: center;
}
.box8 p{
	text-align: center;
	margin-top: -10px;
}
.box8 .button2{
	text-decoration: none;
    margin-left: 300px;
    display: block;
    width: 270px;
    height: 40px; 
    text-align: center; 
    border-radius: 10px;
    line-height: 40px;
    margin-top: 60px;
    border-bottom: 1px solid #111111;
	border-left: 1px solid #111111;
	border-right: 1px solid #111111;
	border-top: 1px solid #111111;

}
.box8 .button2:hover{
	background-color: #99FF66;
}
/*-----------------------------------------*/
.box9{
	width: 100%;
	height: 150px;
}
.box9 ul{
	margin-top:-15px; 
	list-style: none;
	margin-left: 170px;
}
.box9 ul li{
	text-decoration: none;
	float: left;
	margin-top:40px; 
}
.box9 ul li a{
	color: #111111;
	margin-left: 30px;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 70px;
	height: 60px;
}
.box9 .iconbox9{
	width: 100%;
	height: 100%;
}
/*-----------------------------------------*/
.box10{
	width: 100%;
	height: 250px;
	background-color: #111111;
}
.box10 .p1{
	float: left;
	width: 25%;
	height: 100%;
}
.box10 .p1 h3{
	padding-top: 50px;
	padding-left:20px; 
	color: #FFFFFF;
}
.box10 .p1 p{
	padding-left:20px; 
	color: #FFFFFF;
}
.box10 .p1 a{
	padding-left:20px; 
	color: #FFFFFF;
}
.box10 .p2{
	float: left;
	width: 25%;
	height: 100%;
}
.box10 .p2 h3{
	padding-top: 40px;
	padding-left:60px; 
	color: #FFFFFF;
}
.box10 .p2 p{
	padding-left:60px; 
	color: #FFFFFF;
}
.box10 .p3{
	float: left;
	width: 25%;
	height: 100%;
}
.box10 .p3 h3{
	padding-top: 40px;
	padding-left:60px; 
	color: #FFFFFF;
}
.box10 .p3 p{
	padding-left:60px; 
	color: #FFFFFF;
}
.box10 .p4{
	float: left;
	width: 25%;
	height: 100%;
}
.box10 .p4 h3{
	padding-top: 40px;
	padding-left:30px; 
	color: #FFFFFF;
}
.box10 .p4 p{
	padding-left:30px; 
	color: #FFFFFF;
}

